src/main/app/craftchalangeone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="craftchalangeoneFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/companyinfo/{return_type}" doc:name="HTTP"/>
        <parse-template location="sample_input" doc:name="Parse Template"/>
        <set-variable variableName="returnType" value="#[message.inboundProperties.'http.uri.params'.return_type]" doc:name="Variable"/>
        <expression-transformer doc:name="Expression">
            <return-argument expression="#[payload]"/>
            <return-argument expression="#[flowVars.returnType]" optional="true"/>
        </expression-transformer>
        <component class="craftchalangeone.CompanyService" doc:name="Company Service"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.returnType == 'json']">
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <set-payload value="#[payload]" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
